nav{
    border: 1px solid red;
    width: 1200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
div{
    width: 1200px;
    height: 70px;
    border: 2px solid yellow;
    background-color: pink;
}